<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/dashboardDetailTableStyle.css') }}">
    <style>
        * {
            box-sizing: border-box;
        }

        /* Create two equal columns that floats next to each other */
        .column {
            float: left;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
    <title></title>
</head>
<body>
    {% for row in specificData %}
    <div class="row" style="padding:5px;height:100%;">
        <div class="column" style="width:30%;height:100%;padding:10px;border-right: solid 2px black">
            <div style="height:18%;border-bottom: solid 2px black">
                <img src="{{ url_for('static', filename= 'QR_Codes/' + row[2] + '.png') }}" height="60" width="60">
                <b>{{ row[0] }}</b>
            </div>
            <div class="row" style="height:60%;">
                <div class="column" style="width:40%;height:100%;padding-right:5px;">
                    <div>
                        <img src="{{ url_for('static', filename= row[1]) }}" width="150">
                    </div>
                </div>
                <div class="column" style="width:60%;height:100%;padding-left:10px;">
                    <div style="overflow:auto;overflow-x:hidden;height:100%;">
                        Device-TAG:<br />
                        <b id="device_tag">{{ row[2] }}</b><br /><br />
                        Location:<br />
                        <b id="location">{{ row[3] }} / {{ row[4] }}<br />{{ row[5] }}</b><br /><br />
                        Order Code:<br />
                        <b>{{ row[6] }}</b><br /><br />
                        Serial Number:<br />
                        <b>{{ row[7] }}</b><br /><br />
                        Device Type:<br />
                        <b>{{ row[8] }}</b><br /><br />
                        Measured Value:<br />
                        <b>{{ row[9] }}</b><br /><br />
                        Measuring method:<br />
                        <b>{{ row[10] }}</b><br /><br />
                        Manufacturer:<br />
                        <b>{{ row[11] }}</b>
                        <b id="ti" style="visibility:hidden;">{{ row[12] }}</b>
                        <b id="ba" style="visibility:hidden;">{{ row[13] }}</b>
                    </div>
                </div>
                <div class="row" style="height:20%;">
                    <input id="ti_button" type="button" class="button" onclick="openAvailableSheets(this.id)" value="Technical Information (TI)" />
                    <input id="ba_button" type="button" class="button_reverse" onclick="openAvailableSheets(this.id)" value="Operating Instruction (BA)" />
                </div>
            </div>
        </div>

        <div class="column" style="width:70%;height:100%;padding:5px;">
            <div class="row" style="height: 30%;">
                <div class="column"style="width:20%;">
                    <div><input id="lg_button" type="button" class="button_data" onclick="getSpecificCurve(this.id)" value="Latest graph" /></div>
                    <div><input id="fg_button" type="button" class="button_data_reverse" onclick="getSpecificCurve(this.id)" value="First graph" /></div>
                    <div class="column"style="width:50%; padding:0px;">
                        <input id="oc_button" type="button" class="button_data_reverse" onclick="getSpecificCurve(this.id)" value="<" />
                    </div>
                    <div class="column" style="width:50%; padding:0px; padding-right: 5px">
                        <input id="nc_button" type="button" class="button_data_reverse" onclick="getSpecificCurve(this.id)" value=">" />
                    </div>
                </div>
                <div class="column"style="width:60%;">
                    <div style="overflow:auto;overflow-x:hidden;height:100%;">
                        Device-TAG:<br />
                        <b id="device_tag">{{ row[2] }}</b><br /><br />
                        Location:<br />
                        <b id="location">{{ row[3] }} / {{ row[4] }}<br />{{ row[5] }}</b><br /><br />
                        Order Code:<br />
                        <b>{{ row[6] }}</b><br /><br />
                        Serial Number:<br />
                        <b>{{ row[7] }}</b><br /><br />
                        Device Type:<br />
                        <b>{{ row[8] }}</b><br /><br />
                        Measured Value:<br />
                        <b>{{ row[9] }}</b><br /><br />
                    </div>
                </div>
                <div class="column"style="width:20%;">
                    <div><input id="tl_button" type="button" class="button_data" onclick="getSpecificCurve(this.id)" value="Level curve" /></div>
                    <div><input id="ec_button" type="button" class="button_data_reverse" onclick="getSpecificCurve(this.id)" value="Envelope curve" /></div>
                    <div><input id="cev_button" type="button" class="button_data_reverse" onclick="getSpecificCurve(this.id)" value="Comp. envelop curve" /></div>
                </div>
            </div>
            <div class="row" style="height:70%;">
                {{ envelope_plot }}
            </div>
        </div>
</div>
   
    <script>
        function openAvailableSheets(x) {
            if (x == 'ti_button') {
                window.open(
                    document.getElementById("ti").innerHTML, '_blank'
                );
                return;
            }
            else if (x == 'ba_button') {
                window.open(
                    document.getElementById("ba").innerHTML, '_blank'
                );
                return;
            }
        }
        function getSpecificCurve(x) {

            var tag = document.getElementById("device_tag").innerHTML;
            var location = document.getElementById("location").innerHTML;

            var locArray = location.split('<');
            var location_path = locArray[0].replace(/\s+/g, '');

            var final_path = /dashboard/ + location_path + '/' + tag;

            var form = document.createElement("form");
            var dummyElement = document.createElement("input");

            form.method = "POST";
            form.action = final_path;

            dummyElement.name = "element";

            if (x == 'tl_button') {
                dummyElement.value = "level_curve";
            } 
            if (x == 'ec_button') {
                dummyElement.value = "envelope_curve";
            }
            if (x == 'cev_button') {
                dummyElement.value = "comp_envelope_curve";
            }

            if (x == 'lg_button') {
                dummyElement.value = "latest_envelope_curve";
            }
            if (x == 'fg_button') {
                dummyElement.value = "first_envelope_curve";
            }
            if (x == 'oc_button') {
                dummyElement.value = "older_envelope_curve";
            }
            if (x == 'nc_button') {
                dummyElement.value = "newer_envelope_curve";
            }
       
            form.appendChild(dummyElement);

            document.body.appendChild(form);
            form.submit();
        }
    </script>
    {% endfor %}
</body>
</html>