<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/dashboardDetailTableStyle.css') }}">
    <style>
        * {
            box-sizing: border-box;
        }

        /* Create two equal columns that floats next to each other */
        .column {
            float: left;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
    <title></title>
</head>
<body>
    {% for row in specificData %}
    <div class="row" style="padding:10px;height:100%;">
        <div class="column" style="width:30%;height:100%;padding:10px;border-right: solid 2px black">
            <div style="height:20%;border-bottom: solid 2px black">
                {{ row[0] }}
            </div>
            <div class="row" style="height:80%;">
                <div class="column" style="width:45%;height:100%;padding-right:5px;">
                    <div>
                        <img src="{{ url_for('static', filename= row[1]) }}" height="300">
                    </div>
                </div>
                <div class="column" style="width:55%;height:100%;padding-left:10px;">
                    <div style="overflow:auto;overflow-x:hidden;height:50%;">
                        Device-TAG:<br />
                        <b>{{ row[2] }}</b><br /><br />
                        Location:<br />
                        <b>{{ row[3] }} / {{ row[4] }}<br />{{ row[5] }}</b><br /><br />
                        Order Code:<br />
                        <b>{{ row[6] }}</b><br /><br />
                        Serial Number:<br />
                        <b>{{ row[7] }}</b><br /><br />
                        Device Type:<br />
                        <b>{{ row[8] }}</b><br /><br />
                        Measured Value:<br />
                        <b>{{ row[9] }}</b><br /><br />
                        Measuring method:<br />
                        <b>{{ row[10] }}</b><br /><br />
                        Manufacturer:<br />
                        <b>{{ row[11] }}</b>
                    </div>
                    <div style="height:40%;">
                            <input type="button" class="button" onclick="location.href='https://google.com';" value="Technical Information (TI)" />
                            <input type="button" class="button_reverse" onclick="location.href='https://google.com';" value="Operating Instruction (BA)" />
                    </div>
                </div>
            </div>
        </div>
        <div class="column" style="width:70%;height:100%;padding:10px;">
            <div style="height:100%;">
                {{ envelope_plot }}
            </div>
        </div>
    </div>
    {% endfor %}
</body>
</html>