<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/dashboardDetailTableStyle.css') }}">
    <style>
        * {
            box-sizing: border-box;
        }

        /* Create two equal columns that floats next to each other */
        .column {
            float: left;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
    <title></title>
</head>
<body>
    {% for row in specificData %}
    <div class="row" style="padding:5px;height:100%;">
        <div class="column" style="width:30%;height:100%;padding:10px;border-right: solid 2px #d9e5ec">
            <div style="height:18%;border-bottom: solid 2px #d9e5ec;">
                <img src="{{ url_for('static', filename= 'QR_Codes/' + row[2] + '.png') }}" height="60" width="60">
                <b>{{ row[0] }}</b>
                <img src="{{ url_for('static', filename= row[-1]) }}" height="30" width="30">
            </div>
            <div class="row" style="height:60%;">
                <div class="column" style="width:40%;height:100%;padding-right:5px;">
                    <div>
                        <img src="{{ url_for('static', filename= row[1]) }}" width="150">
                    </div>
                </div>
                <div class="column" style="width:60%;height:100%;padding-left:10px;">
                    <div style="overflow:auto;overflow-x:hidden;height:100%;">
                        Device-TAG:<br />
                        <b id="device_tag">{{ row[2] }}</b><br /><br />
                        Location:<br />
                        <b id="location">{{ row[3] }} / {{ row[4] }}<br />{{ row[5] }}</b><br /><br />
                        Order Code:<br />
                        <b>{{ row[6] }}</b><br /><br />
                        Serial Number:<br />
                        <b>{{ row[7] }}</b><br /><br />
                        Device Type:<br />
                        <b>{{ row[8] }}</b><br /><br />
                        Measured Value:<br />
                        <b>{{ row[9] }}</b><br /><br />
                        Measuring method:<br />
                        <b>{{ row[10] }}</b><br /><br />
                        Manufacturer:<br />
                        <b>{{ row[11] }}</b>
                        <b id="ti" style="visibility:hidden;">{{ row[12] }}</b>
                        <b id="ba" style="visibility:hidden;">{{ row[13] }}</b>
                    </div>
                </div>
                <div class="row" style="height:20%;">
                    <input id="ti_button" type="button" class="button" onclick="openAvailableSheets(this.id)" value="Technical Information (TI)" />
                    <input id="ba_button" type="button" class="button_reverse" onclick="openAvailableSheets(this.id)" value="Operating Instruction (BA)" />
                </div>
            </div>
        </div>

        <div class="column" style="width:70%;height:100%;padding:5px;">
            <div class="row" style="height: 25%;">
                <div class="column" style="width:20%;">
                    <div class="column" style="width:50%; padding:0px;">
                        <div><input id="first_curve_button" type="button" class="button_data_reverse" onclick="getSpecificCurve(this.id)" value="First" /></div>
                    </div>
                    <div class="column" style="width:50%; padding:0px;">
                        <div><input id="latest_curve_button" type="button" class="button_data_reverse" onclick="getSpecificCurve(this.id)" value="Latest" /></div>
                    </div>

                    <div class="column" style="width:50%; padding:0px;">
                        <div><input id="previous_day" type="button" class="button_data_reverse" onclick="getSpecificCurve(this.id)" value="< D" /></div>
                    </div>
                    <div class="column" style="width:50%; padding:0px;">
                        <div><input id="post_day" type="button" class="button_data_reverse" onclick="getSpecificCurve(this.id)" value="D >" /></div>
                    </div>

                    <div class="column" style="width:25%; padding:0px;padding-left:2px;">
                        <input id="previous_measures" type="button" class="button_data" onclick="getSpecificCurve(this.id)" value="<<" />
                    </div>
                    <div class="column" style="width:25%; padding:0px; padding-right:5px;">
                        <input id="previous_measure_one" type="button" class="button_data" onclick="getSpecificCurve(this.id)" value="<M" />
                    </div>
                    <div class="column" style="width:25%; padding:0px;">
                        <input id="post_measure_one" type="button" class="button_data" onclick="getSpecificCurve(this.id)" value="M>" />
                    </div>
                    <div class="column" style="width:25%; padding:0px; padding-right: 5px">
                        <input id="post_measures" type="button" class="button_data" onclick="getSpecificCurve(this.id)" value=">>" />
                    </div>
                </div>
                <div class="column"style="width:60%;height:100%">
                    <div id="measurement_name" style="overflow:auto;overflow-x:hidden;height:100%;text-align:center">
                        {{ row[-2] }}
                        <!--Device-TAG:<br />
                        <b id="device_tag">{{ row[2] }}</b><br /><br />
                        Location:<br />
                        <b id="location">{{ row[3] }} / {{ row[4] }}<br />{{ row[5] }}</b><br /><br />
                        Order Code:<br />
                        <b>{{ row[6] }}</b><br /><br />
                        Serial Number:<br />
                        <b>{{ row[7] }}</b><br /><br />
                        Device Type:<br />
                        <b>{{ row[8] }}</b><br /><br />
                        Measured Value:<br />
                        <b>{{ row[9] }}</b><br /><br />-->
                    </div>
                </div>
                <div class="column"style="width:20%;">
                    <div><input id="tl_button" type="button" class="button_data" onclick="getSpecificCurve(this.id)" value="Level curve" /></div>
                    <div><input id="ec_button" type="button" class="button_data_reverse" onclick="getSpecificCurve(this.id)" value="Envelope curve" /></div>
                    <div><input id="cev_button" type="button" class="button_data_reverse" onclick="getSpecificCurve(this.id)" value="Comp. envelop curve" /></div>
                </div>
            </div>
            <div class="row" style="height:75%;">
                {{ envelope_plot }}
            </div>
        </div>
</div>
   
    <script>
        function openAvailableSheets(x) {
            if (x == 'ti_button') {
                window.open(
                    document.getElementById("ti").innerHTML, '_blank'
                );
                return;
            }
            else if (x == 'ba_button') {
                window.open(
                    document.getElementById("ba").innerHTML, '_blank'
                );
                return;
            }
        }
        function getSpecificCurve(x) {

            var tag = document.getElementById("device_tag").innerHTML;
            var location = document.getElementById("location").innerHTML;

            var measurementName = document.getElementById("measurement_name").innerHTML;
            var tmpNameArray = measurementName.split('-');
            var tmpDayArray = tmpNameArray[1].split('/');

            var day = tmpDayArray[0];
            var measurement = tmpDayArray[2].split('<')[0];

            var dummyDayElement = document.createElement("input");
            dummyDayElement.name = "day";
            dummyDayElement.value = day;

            var dummyMeasurementElement = document.createElement("input");
            dummyMeasurementElement.name = "measurement";
            dummyMeasurementElement.value = measurement;

            var locArray = location.split('<');
            var location_path = locArray[0].replace(/\s+/g, '');

            var final_path = /dashboard/ + location_path + '/' + tag;

            var form = document.createElement("form");
            var dummyElement = document.createElement("input");

            form.method = "POST";
            form.action = final_path;

            dummyElement.name = "element";

            if (x == 'tl_button') {
                dummyElement.value = "level_curve";
            } 
            if (x == 'ec_button') {
                dummyElement.value = "envelope_curve";
            }
            if (x == 'cev_button') {
                dummyElement.value = "comp_envelope_curve";
            }

            if (x == 'first_curve_button') {
                dummyElement.value = "first_envelope_curve";
            }
            if (x == 'latest_curve_button') {
                dummyElement.value = "latest_envelope_curve";
            }
            if (x == 'previous_day') {
                dummyElement.value = "previous_day";
            }
            if (x == 'post_day') {
                dummyElement.value = "post_day";
            }
            if (x == 'previous_measures') {
                dummyElement.value = "previous_measures";
            }
            if (x == 'previous_measure_one') {
                dummyElement.value = "previous_measure_one";
            }
            if (x == 'post_measure_one') {
                dummyElement.value = "post_measure_one";
            }           
            if (x == 'post_measures') {
                dummyElement.value = "post_measures";
            }   
            
            form.appendChild(dummyElement);
            form.appendChild(dummyDayElement);
            form.appendChild(dummyMeasurementElement);         

            document.body.appendChild(form);
            form.submit();
        }
    </script>
    {% endfor %}
</body>
</html>