<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/dashboardGraphTableStyle.css') }}">
    <title></title>
</head>
<body>
    <div>
        <table class="graph_table">
            <thead>
                <tr>
                    <th>Werk 1 / Anlage 1 – Übersicht Gerätestatus</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Diagramm</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>