<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/navigationBarStyle.css') }}">
    <title></title>
</head>
<body>
    <div class="nav-header">
        <div class="nav-header-container">
            <div style="text-align:end"><img src="{{ url_for('static', filename= 'resources/IoX_Logo.svg') }}"></div>
            <div class="vertical-center" style="font-size:large;">
                <br />
                Process
                <br />
                Industry
                <br />
                <b>Dashboard</b>
            </div>
        </div>
    </div>
    <ul>
        <li><b class="active" href="#Plant-01">Plant-01</b></li>
        <li><a href="#"><div style="text-indent:10px;">Faility-01</div></a></li>
        <li><a href="#"><div style="text-indent:10px;">Facility-02</div></a></li>
        <li><a href="#"><div style="text-indent:10px;">Facility-03</div></a></li>
        <li><b href="#"> Plant-02</b></li>
        <li><a href="#"><div style="text-indent:10px;">Facility-04</div></a></li>
        <li><a href="#"><div style="text-indent:10px;">Facility-05</div></a></li>
        <li><a href="#"><div style="text-indent:10px;">Facility-06</div></a></li>
    </ul>
</body>
</html>