<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/navigationBarStyle.css') }}">
    <title></title>
</head>
<body>
    <div class="nav-header">
        <div class="nav-header-container">
            <div style="text-align:end"><img src="{{ url_for('static', filename= 'resources/IoX_Logo.svg') }}"></div>
            <div class="vertical-center" style="font-size:large;">
                <br />
                Process
                <br />
                Industry
                <br />
                <b>Dashboard</b>
            </div>
        </div>
    </div>
    <ul>
        <div class="space">
        </div>
        <li><a href="/dashboard/P-01"><b class="active">Plant-01</b></a></li>
        <li><a href="/dashboard/P-01/F-01"><div style="text-indent:20%;">Facility-01</div></a></li>
        <li><a href="/dashboard/P-01/F-02"><div style="text-indent:20%;">Facility-02</div></a></li>
        <li><a href="/dashboard/P-01/F-03"><div style="text-indent:20%;">Facility-03</div></a></li>
        <div class="space">
        </div>
        <li><a href="/dashboard/P-02"><b>Plant-02</b></a></li>
        <li><a href="/dashboard/P-02/F-04"><div style="text-indent:20%;">Facility-04</div></a></li>
        <li><a href="/dashboard/P-02/F-05"><div style="text-indent:20%;">Facility-05</div></a></li>
        <li><a href="/dashboard/P-02/F-06"><div style="text-indent:20%;">Facility-06</div></a></li>
    </ul>
    <div class="nav-footer">
        <div class="space">
        </div>
        <div class="nav-footer-container">
            <div style="text-align:end"><img src="{{ url_for('static', filename= 'QR_Codes/QR_Git.png') }}" height="110" width="110"></div>
            <div class="vertical-center" style="font-size: 100%;">
                <br />
                Scann Code
                <br />
                with
                <br />
                <b>VR-Glasses</b>
            </div>
        </div>
    </div>
</body>
</html>