::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

table {
    margin: 10px;
    text-align: left;
    position: relative;
    border-collapse: collapse;
    table-layout: fixed;
    height: 100%;
}

th, td {
    padding: 0.25rem;
    border: 2px solid white;
}

tr.header th {
    background: #334152;
    color: white;
    border: 2px solid white;
}

tr:nth-child(even) {
    background-color: rgba(51, 65, 82, 0.1);
    border: 2px solid white;
}
tr:nth-child(odd) {
    background-color: rgba(51, 65, 82, 0.2);
    border: 2px solid white;
}

tr:hover {
    background-color: rgba(0, 155, 145, 0.2);
}
.high-light {
    background: rgba(0, 155, 145, 0.2) !important;
}

th {
    background: white;
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
