body {
    margin: 0;
    background-color: #334152;
}

footer {
    display: none;
}

.nav-header {
    top: 0;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #009b91;
    position: fixed;
    height: 20%;
    font-family: Verdana;
}

.nav-header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.nav-header-container > div {
    position: relative;
    text-align: left;
    color: white;
    background-color: transparent;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

ul {
    top: 2%;
    list-style-type;
    margin: 0;
    margin-top: 5%;
    padding: 0;
    width: 15%;
    background-color: #334152;
    position: fixed;
    height: 100%;
    font-family: Verdana;
    overflow: auto;
}

li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #d9e5ec;
    color: black;
}

li a:hover:not(.active) {
    background-color: #d9e5ec;
    color: #009b91;
    font-weight: bold;
}

li b {
    display: block;
    font-weight: bold;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

li b.active {
    background-color: #d9e5ec;
    color:#009b91;
}

li b:hover:not(.active) {
    background-color: #d9e5ec;
    color: #009b91;
    font-weight: bold;
}

.nav-footer {
    top: 85%;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: white;
    position: fixed;
    height: 20%;
    font-family: Verdana;
}

.nav-footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.nav-footer-container > div {
    position: relative;
    text-align: left;
    color: black;
    background-color: transparent;
}

.space {
    height: 2%;
}